body
{
  margin: 0;
  padding: 0;
  background-color:#6abadeba;
  font-family: 'Arial';
}
img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
  clear: right;
  float: left;
  margin-left: 250px;

}
p{
  font-size: 18px;
  float: right;
  margin-right: 170px;
}
.WholePort {
  margin: auto;
  width: 60%;
  padding-top: 300px;
}
/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-instagram {
  background: red;
  color: white;
}
/* Twitter */
.fa-twitter {
  padding-left: 300px;
  background: #55ACEE;
  color: white;
}
.fa{
  padding: 20px;
  font-size: 25px;
  width: 30px;
  text-decoration: none;
  border-radius: 50%;
}

.Icons{
  display: flex;
  align-items: center;
  height: 50vh;
}
